{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}IPCArt-Studio{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body class="text-[#e4e4e4] font-title bg-black">
    <!-- Fondo fijo -->
    <div class="fixed inset-0 bg-cover bg-center bg-pixel -z-10"></div>

    <!-- Sidebar -->
    {% include 'components/admin_sidebar.html' %}

    <!-- Toasts -->
    {% include 'partials/toasts.html' %}

    <!-- Contenido principal -->
    <main class="min-h-screen">
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>