{% extends 'base_user.html' %}
{% load static %}

{% block title %}Ayuda - IPCArt-Studio{% endblock %}

{% block content %}
<div class="h-screen">
    <div class="max-w-6xl mx-auto">
        <div class="grid grid-cols-2 gap-6 h-full">
            <!-- Left Column -->
            <div class="bg-[rgba(255,255,255,0.1)] backdrop-blur-[5px] rounded-xl shadow-xl overflow-hidden">
                <div
                    class="bg-[rgba(255,255,255,0.05)] backdrop-blur-[5px] px-4 py-2 flex items-center justify-between">
                    <div class="flex items-center space-x-2">
                        <div class="w-3 h-3 rounded-full bg-red-500/80"></div>
                        <div class="w-3 h-3 rounded-full bg-yellow-500/80"></div>
                        <div class="w-3 h-3 rounded-full bg-green-500/80"></div>
                    </div>
                    <h2 class="text-white text-xl font-bold">Help</h2>
                </div>
                <div class="p-4 text-gray-300 space-y-2">
                    <h3 class="font-bold mb-2">Created by:</h3>
                    <p>Alex Ricardo Castañeda Rodríguez</p>
                    <p>202300476</p>
                    <p>Introducción a la Programación y Computación 2 P</p>
                    <p>December Holidays 2024</p>
                    <p>
                        <a href="https://github.com/ricardious" target="_blank" class="text-blue-400 hover:underline">
                            {{ github|default:"GitHub" }}
                        </a>
                    </p>
                </div>
            </div>

            <!-- Right Column -->
            <div class="bg-[rgba(255,255,255,0.1)] backdrop-blur-[5px] rounded-xl shadow-xl overflow-hidden">
                <div
                    class="bg-[rgba(255,255,255,0.05)] backdrop-blur-[5px] px-4 py-2 flex items-center justify-between">
                    <div class="flex items-center space-x-2">
                        <div class="w-3 h-3 rounded-full bg-red-500/80"></div>
                        <div class="w-3 h-3 rounded-full bg-yellow-500/80"></div>
                        <div class="w-3 h-3 rounded-full bg-green-500/80"></div>
                    </div>
                    <h2 class="text-white text-xl font-bold">Documentation</h2>
                </div>
                <div class="p-4">
                    <!-- Iframe para mostrar el PDF -->
                    <iframe src="{% static 'pdfs/EssayArticle.pdf' %}" class="w-full h-[calc(100vh-12rem)] rounded-lg"
                        frameborder="0">
                    </iframe>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}